:host{
    display: block;
    text-align: center;
}
.gallery-lightbox-container{
    position: relative;
    display: inline-block;
    padding: 12px;
    .gallery{
        line-height: 0;
        /* column-count: 3; */
        column-gap: 30px;
        .gallery-img img {
            width: 80%;
            height: 80%;
            border-radius: .35rem;
            margin-bottom: 10px;
            box-shadow: 0 1px 5px 0 rgba(0,0,0,.21);
         } 
    }
}